*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container{
  display: flex;
  height: 65px;
  width: 100vw;
  align-items: center;
  background: linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
  color:white;
  padding: 15px 20px;
  
}
.meme-logo{
  width:50px;
  margin: 8px;
}
.sm-heading{
  font-size: 1.2rem;
 font-weight: 500;

}
.meme-heading{
  margin-right: auto;
}

/* styling the form */
main{
  padding: 50px;
 
}
.form{
  display: grid;
  grid-template: 40px 40px /1fr 1fr ;
  gap: 17px;
}
.form-input{
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  border:1px solid #D5D4D8;
  font-family: 'Poppins', sans-serif;
 font-family: 'Raleway', sans-serif;
}
.form-button{
  grid-column: -3 /-1;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;   
background: linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
cursor: pointer;
  
  

}

.meme--image{
 width: 70%;
 
  margin:30px 190px;
  height: 37.5rem;
  
 
}
.img-container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.meme-topText{
align-self: center;
position: absolute;
top: 70px;
font-size:50px;
color:#d82b0c
}
.meme-bottomText{
  align-self: center;
  font-size:50px;
  position: absolute;
  bottom: 100px;
  color:#dc4d0a
}
@media only screen and (max-width: 470px){
  .header-container{
    width: 555px;
  }
  .meme--image{
    margin: 5px;
    width: 600px;
  }
}
